page {
    background-color: white;
    color: black;
    font-size: 25px;
}

.dark-mode {
    background-color: rgb(43, 41, 41);
    color: white;
}

.sherlock, .h2{
    font-size: large;
}

img{
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}
.one {
    padding-left: 20px;
}

.two{
    font-size: large;
    word-spacing: 10px;
    margin: inherit;
    padding-left: 20px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.tabs {
    overflow: hidden;
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: rgba(199, 196, 196, 0.842);
}

.tabs li {
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
    font-size: x-large;
}

.tabs li.active,
.tabs li:hover {
    background-color: #8e7979;
}

.content {
    font-size: large;
    border: solid rgb(161, 152, 152);
    border-width: 2px;
}

.content>div:not(:first-child) {
    display: none;
}

button{
    margin-top: 10px;
    border-radius: 5px;
    border: solid #730000;
    border-width: 2px;

}